body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  padding: 1rem;
}

.search-section {
  text-align: center;
  margin-bottom: 2rem;
}

.search-section input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 60%;
  margin-right: 0.5rem;
}

.search-section button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.buttonStyle {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color:lightgreen;
  border-radius: 20%;
  margin-right: 0.5%;
  color: black;
  border: none;
  cursor: pointer;
}

.search-section button:hover {
  background-color: #45a049;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.movie-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.movie-card h3 {
  font-size: 1rem;
  margin: 0.5rem;
}

.movie-card p {
  font-size: 0.875rem;
  margin: 0.5rem;
}

.movie-card button {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.movie-card button:hover {
  background-color: #45a049;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #4caf50;
  color: white;
}
